#app-container {
  display: grid;
  grid-template-rows: minmax(100px,auto) 1fr;
  background-color: blue;
  height: 100%;
}

@media only screen and (max-width: 510px) {
  #app-container {
    display: grid;
    grid-template-rows: 182px 1fr;
    background-color: blue;
    height: 100%;
  }

}

