<div id="selected-weather-container" class="row" *ngIf="selectedLocationState.currentWeather">
  <p>selected-weather works!</p>
  <!--  selectedLocationState = {{selectedLocationState|json}} -->
  <p-toggleButton [(ngModel)]="isMetricTemp" onLabel="C" offLabel="F"></p-toggleButton>
  {{selectedLocationState.details.LocalizedName}}
  <ng-template #metric>
  {{selectedLocationState.currentWeather.Temperature.Metric.Unit}}
  {{selectedLocationState.currentWeather.Temperature.Metric.Value}}
</ng-template>
  <ng-template #imperial>
  {{selectedLocationState.currentWeather.Temperature.Imperial.Unit}}
  {{selectedLocationState.currentWeather.Temperature.Imperial.Value}}
</ng-template>

  <div *ngIf="isMetricTemp then metric;else imperial">

  </div>

  <img title="{{selectedLocationState.currentWeather.WeatherText}}" alt=" weather icon" src="./assets/{{selectedLocationState.currentWeather.WeatherIcon}}-s.png">
</div>
