<div id="search-container" class="flex-center">
  <p-autoComplete [(ngModel)]="locationName" [suggestions]="filteredLocations"  [size]="30"
     [minLength]="1" placeholder="Search location"   [minLength]="0" [dropdown]="true"
      [autoHighlight]="true" [emptyMessage]="'No results Found'"
      (onDropdownClick)="onDropdownClick($event.query)"
      (onSelect)="onLocationSelect($event)"

      pKeyFilter="alpha">
      <ng-template let-location pTemplate="item" >
          <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
            {{location.LocalizedName}} , {{location.Country.LocalizedName}} , {{location.AdministrativeArea.ID}}
          </div>
      </ng-template>
  </p-autoComplete>
</div>
