
<div id="favorite-card-container" class="flex-center animated flip" (click)="favoriteSelected($event)">



  <p-card
  styleClass="ui-card-shadow ">
 <p-header class="light-text flex-center">
   <h1>{{favorite.location.LocalizedName}}</h1>
 </p-header>
 <div class="light-text flex-center">{{favorite.weather.EpochTime * 1000 | date:'longDate'}} </div>
 <div class="light-text">
   <div class="flex-center">{{favorite.weather.Temperature.Metric.Value}} &#8451;</div>
   <div class="flex-center">{{ favorite.weather.WeatherText }}<img title="{{ favorite.weather.WeatherText }}"
       alt="weather icon" src="./assets/{{favorite.weather.WeatherIcon}}-s.png" /></div>
 </div>
</p-card>
</div>
